// colors

$elephant-back: #01588C;
$elephant-front-leg: #006A9F;
$elephant-back-leg: #008BC2;
$elephant-middle: #1DBBEE;
$white: #ffffff;
$black: #000000;
$light-gray: #f9f9f9;

//$background: #fff;
$background: $light-gray;
$header-bg: #eee;
//$header-bg: $background;
$header-bg: $white;
$second-bg: #F0F4F7;
//$intro-bg: #3BA3D9;
//$intro-bg: #2b6ca8;
$intro-bg: $elephant-back;
$dark-bg: $black;

$primary-font-color: $black;
$second-font-color: $white;
$third-font-color: #FE4B74;

// Anchoirs & buttons

//$anchor-font-color: #008CBA;
$anchor-font-color: $elephant-back-leg;
$anchor-font-color-hover: $elephant-front-leg;

$button-bg-color: $elephant-back-leg;
$button-bg-hover: $elephant-front-leg;

//$content-box-background: #f9f9f9;
$content-box-background: $white;
$content-box-border-color: #e4f0f2;
$content-box-second-border-color: #cde3e9;

$primary-headline-color: $black;
$second-headline-color: $white;

$primary-subhead-color: lighten($primary-headline-color, 5%);
$second-subhead-color: darken($second-headline-color, 5%);

$nav-bg-color: lighten($intro-bg, 44%);
$nav-font-color: $white;

$primary-footer-bg: #292c2f;
$second-footer-bg: $black;

$primary-footer-color: #8f9296;
$second-footer-color: #33383b;
$footer-headline-color: #e8e8e8;

// fonts 

$primary-font: 'Open Sans', sans-serif;
$nav-font: 'Merriweather', serif;
$headline-font: 'Oswald', sans-serif;

$body-font-family: $primary-font;
$body-font-color: #555;

$rwd-factor-medium: .75;
$rwd-factor-small: .55;

$h1-font-size: rem-calc(42);
$h2-font-size: rem-calc(32);

// We use these to control header size reduction on small screens
 $h1-font-reduction: rem-calc(18);
 $h2-font-reduction: rem-calc(12);
 $h3-font-reduction: rem-calc(8);
 $h4-font-reduction: rem-calc(5);
// $h5-font-reduction: 0;
// $h6-font-reduction: 0;

// animation

$animation-duration: 0.7s;
$color-animation-duration: 0.2s;

// dimenssions

$header-height: 80px;
$header-padding: 10px;

// spinners

$spinkit-spinner-margin: 0 auto !default;
$spinkit-size: 260px !default;
$spinkit-spinner-color: $primary-footer-color !default;


//
// Top Bar Variables
//

//// Background color for the top bar
//$topbar-bg-color: $header-bg;
$topbar-bg: $header-bg;

// Height and margin
$topbar-height: rem-calc(60);

//// Controlling the styles for the title in the top bar
//$topbar-title-font-size: rem-calc(17);

//// Style the top bar dropdown elements
//$topbar-dropdown-bg: $anchor-font-color;
//$topbar-dropdown-link-color: $body-font-color;
//$topbar-dropdown-link-color-hover: $topbar-bg;
//$topbar-dropdown-link-bg: $anchor-font-color;
//$topbar-dropdown-link-bg-hover: $anchor-font-color-hover;

////// Set the link colors and styles for top-level nav
//$topbar-link-color: $body-font-color;
//$topbar-link-color-hover: $third-font-color;
//$topbar-link-color-active: $topbar-bg;
//$topbar-link-color-active-hover: $topbar-bg;
$topbar-link-font-size: rem-calc(16);
$topbar-link-padding: $topbar-height / 2;

//$topbar-link-bg-hover: $topbar-bg;

//// Top menu icon styles
$topbar-menu-link-color: $anchor-font-color;
$topbar-menu-icon-color: $anchor-font-color;
$topbar-menu-link-color-toggled: $third-font-color;
$topbar-menu-icon-color-toggled: $third-font-color;

//// Sticky Class
$topbar-arrows: false; //Set false to remove the triangle icon from the menu item


// faq
// colors

$color-1: #4e5359; // blue dark
$color-2: #a9c056; // green
$color-3: #f3f3f5; // grey light
$color-4: #6c7d8e; // blue light
$color-5: #ffffff; // white

// fonts

$primary-font: 'Open Sans', sans-serif;

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


// breakpoints

$S:     480px;
$M:     768px;
$L:     1024px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
}

