<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}PHPers - Otwarte spotkania dla developerów i architektów PHP{% endblock %}</title>
    <meta name="description" content="PHPers to ogólnopolska inicjatywa darmowych meetupów dla programistów PHP i osób chcących rozpocząć profesjonalną
    pracę w tym języku. Przyjdź na nasze spotkania, podziel się swoją wiedzą lub porozmawiać z bardziej doświadczonymi
    developerami."/>
    <meta name="keywords" content="PHP, PHPers, programowanie, development, webdevelopment, developer, język PHP, aplikacje internetowe,
    spotkania, konferencja, design patterns, web, JavaScript, NoSQL, HTML"/>
    <meta property="og:title" content="PHPers - Otwarte spotkania dla developerów i architektów PHP"/>
    <meta property="og:description" content="PHPers to ogólnopolska inicjatywa darmowych meetupów dla programistów PHP i osób chcących rozpocząć profesjonalną
    pracę w tym języku. Przyjdź na nasze spotkania, podziel się swoją wiedzą lub porozmawiać z bardziej doświadczonymi
    developerami."/>
    <meta property="og:image" content="http://phpers.pl/img/phpers-logo.png"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:site" content="@PHPersPL"/>
    <meta name="twitter:url" content="http://phpers.pl/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="PHPers - Otwarte spotkania dla developerów i architektów PHP"/>
    <meta name="twitter:description" content="PHPers to ogólnopolska inicjatywa darmowych meetupów dla programistów PHP i osób chcących rozpocząć profesjonalną
    pracę w tym języku. Przyjdź na nasze spotkania, podziel się swoją wiedzą lub porozmawiać z bardziej doświadczonymi
    developerami."/>
    <meta name="twitter:image" content="http://phpers.pl/img/phpers-logo.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" type="image/png" href="http://phpers.pl/favicon.png" />
    {% block topscripts %}{% endblock %}

    <!-- Retina Images -->
    <script>
        if ((window.devicePixelRatio === undefined ? 1 : window.devicePixelRatio) > 1) {
            document.cookie = 'HTTP_IS_RETINA=1;path=/';
        }
    </script>
    <!-- End Retina Images -->

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,900&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
    <!-- End Fonts -->

    <link rel="stylesheet" href="/css/style.css" media="screen"/>
</head>
<body>
<header class="container clearfix">
    <!-- Logo -->
    <div id="logo" class="four columns clearfix">
        <a href="/">
            <img src="/img/logo.png" alt="logo"/>
        </a>
    </div>
    <!-- End Logo -->

    <!-- Navigation -->
    <nav id="nav" class="twelve columns clearfix">
        <ul id="navigation">
            <li class="drop first"><a href="/idea-spotkan/">O projekcie</a>
                <ul class="dropdown clearfix menu_level_1">
                    <li class="first"><a href="/idea-spotkan/">Idea spotkań</a>
                    </li>
                    <li class="last"><a href="/organizatorzy/">Organizatorzy</a>
                    </li>
                </ul>

            </li>

            <li class="drop"><a href="#" onClick="return false;">Spotkania</a>
                <ul class="dropdown clearfix menu_level_1">
                    <li class="first"><a href="/meetup/krakow/">Kraków</a></li>
                    <li><a href="/meetup/slask/">Śląsk</a></li>
                    <li><a href="/meetup/trojmiasto/">Trójmiasto</a></li>
                    <li><a href="/meetup/warszawa/">Warszawa</a></li>
                    <li><a href="/meetup/wroclaw/">Wrocław</a></li>
                    <li><a href="/meetup/torun/">Toruń</a></li>
                    <li><a href="/meetup/poznan/">Poznań</a></li>
                    <li><a href="/meetup/olsztyn/">Olsztyn</a></li>
                    <li><a href="/meetup/lodz/">Łódź</a></li>
                    <li class="last"><a href="/meetup/rzeszow/">Rzeszów</a></li>
                </ul>
            </li>

            <li class="drop"><a href="#" onClick="return false;">FAQ</a>
                <ul class="dropdown clearfix menu_level_1">
                    <li class="first"><a href="/faq/#dla-uczestnikow">Dla uczestników</a></li>
                    <li><a href="/faq/#dla-prelegentow">Dla prelegentów</a></li>
                    <li><a href="/faq/#dla-organizatorow">Dla organizatorów</a></li>
                    <li class="last"><a href="/faq/#dla-sponsorow">Dla sponsorów</a></li>
                </ul>
            </li>

            <li><a href="/zglos-swoja-prezentacje/">Zgłoś się!</a>
            </li>

            <li><a href="/maillist/">Maillista</a>
            </li>

            <li class="last"><a href="/napisz-do-nas/">Kontakt</a>
            </li>

        </ul>

    </nav>
    <!-- End Navigation -->
</header>
<!-- END CONTAINER -->

{% block precontent %}{% endblock %}

{% block content %}{% endblock %}

{% block morecontent %}{% endblock %}

{% block cta %}
<section id="call-to-action">
    <div class="container clearfix">
        <!-- Call to action -->
        <div class="sixteen columns">
            <h1>Programujesz w PHP?</h1>

            <h2>Podziel się z nami swoją wiedzą i doświadczeniem</h2>
            <a class="button dark" href="/zglos-swoja-prezentacje/">Zgłoś swoją
                prezentację!</a>
        </div>
        <!-- Call to action -->
    </div>
    <!-- END CONTAINER -->
</section>
{% endblock %}

<footer class="container clearfix">
    <!-- Navigation -->
    <div id="foot-nav" class="six columns">

        <ul>
            <li class="first">Partner:</li>
            <li class="second">
                <a href="https://www.jetbrains.com/phpstorm/" target="_blank">
                    <img src="/img/sponsor/phpstorm.png" alt="PhpStorm"/>
                </a>
            </li>
        </ul>

    </div>
    <!-- End Navigation -->

    <!-- Copyright -->
    <div id="copyright" class="seven columns">
        <p>
            <a href="http://phpers.pl/">PHPers</a> &copy; copyright 2013 - {{ date('now') | date("Y") }}
        </p>
    </div>
    <!-- End Copyright -->

    <div class="three columns">
        <a href="http://facebook.com/PHPersPL" target="_blank">
            <img src="/img/social/grey-facebook.png" alt="PHPers na Facebooku"/>
        </a>
        <a href="http://twitter.com/PHPersPL" target="_blank">
            <img src="/img/social/grey-twitter.png" alt="PHPers na Twitterze"/>
        </a>
        <a href="https://www.youtube.com/user/PHPersPL" target="_blank">
            <img src="/img/social/grey-youtube.png" alt="PHPers na YouTube"/>
        </a>
    </div>
</footer>
<!-- END CONTAINER -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/phpers.js"></script>
{% block scripts %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64686049-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
