.newsletter {
  input[type="email"], .postfix {
    font-size: 1.5rem;
    height: 3.3125rem;
    //line-height: 3.3125rem;
    margin-bottom: 0;
  }
  input[type="email"] {
    padding: 6px 12px;
    margin-bottom: 0;
  }
  .postfix {
    &.elephant-btn {
      margin: 0;
      padding-bottom: 0;
      padding-top: 0;
      border: 3px solid $white;
      @media #{$medium-up} {
        border-left: none;
        margin: 0 0 0 -2px;
      }
    }
  }

  .newsletter-cont[data-perspective] {
    background: transparent;
    -webkit-perspective: 900px;
    perspective: 900px;
  }
  .newsletter-wrap {
    @include transition(transform 0.2s ease-out);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .content {
      position: relative;
      display: block;
    }
    .side {
      background: $anchor-font-color;
      position: absolute;
      bottom: 100%;
      left: 1rem;
      width: 90%;
      @include transition(transform 0.2s ease-out, opacity 100ms ease-in, background-color 300ms ease-out);
      @include transform(rotateX(90deg));
      @include opacity(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      color: $second-font-color;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      p {
        font-size: 0.825rem;
        margin-bottom: 0;
      }
      @media #{$medium-up} {
        left: $column-gutter;
      }
    }
    &.flipped {
      @include transform(rotateX(-90deg));
      .side {
        @include opacity(1);
        @include transform(rotateX(90deg));
      }
    }
    &:hover {
      .side {
        background: $anchor-font-color-hover;
      }
    }
  }
}