---
layout: meetup
categories:
  - warszawa
title: "PHPers Warszawa #1"
time: "18:00"
city: Warszawa
talks:
  - title: Phing i Fabric - budowanie i deployment aplikacji
    speaker: Leszek Krupiński
    description: ""
  - title: Wyrażenia regularne
    speaker: Tytus Ciunelis
    description: ""
  - title: Configuration provisioning with Zookeeper
    speaker: Mariusz Gil
    description: ""
venue:
  location: "52.251967, 20.997558"
  name: PaństwoMiasto
  address: ul. Gen. Andersa 29
  city: Warszawa
  short: PaństwoMiasto, ul. Gen. Andersa 29
  description: Spotykamy się 20. maja o godz. 18:00 w gościnnych progach Państwamiasta ul. Andersa 29 w Warszawie
sponsors:
  - name: MegiTeam
    site: http://www.megiteam.pl
    logo: /images/sponsor/megiteam.png
    description: "Sponsor streamingu"
---

<p>
  Swag umami franzen, street art actually 8-bit trust fund
  YOLO dreamcatcher. Jean shorts pabst tacos, mlkshk humblebrag godard wolf crucifix fixie whatever
  vice. Kale chips typewriter seitan franzen pinterest.
</p>