.elephant-btn {
  border: 2px solid $background;
  color: $background;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: rem-calc(8px) rem-calc(16px);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: rem-calc(1px);
  font-weight: 700;
  outline: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: rem-calc(10px);
  margin-top: rem-calc(10px);
  width: 100%;
  @include breakpoint(medium up) {
    width: auto;
    border-width: 3px;
    margin: rem-calc(10px) rem-calc(10px) rem-calc(10px) rem-calc(15px);
    padding: rem-calc(10px) rem-calc(25px);
  }
  &:after {
    background: $background;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:hover, &:focus {
    background: $background;
    color: $elephant-back;
  }
  &.elephant-slant-btn, &.elephant-slide-left-btn {
    padding: rem-calc(9px) rem-calc(18px);
    &:hover, &:focus {
      background: none;
    }
    @include breakpoint(medium up) {
      padding: rem-calc(10px) rem-calc(25px);
    }
    @include breakpoint(large up) {
      padding: rem-calc(15px) rem-calc(40px);
    }
  }
  &.elephant-slant-btn {
    overflow: hidden;
    &:after {
      width: 105%;
      height: 0;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }
    &:hover:after {
      height: 600%;
      opacity: 1;
    }
  }
  &.elephant-slide-left-btn {
    &:after {
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:hover:after {
      width: 100%;
    }
  }
  &.second {
    border: 3px solid $elephant-back;
    color: $elephant-back;
    &:after {
      background: $elephant-back;
    }
    &:hover, &:focus {
      background: $elephant-back;
      color: $background;
    }
  }
  &.cta-button {
    border: 3px solid #FE4B74;
    color: #FE4B74;
    &:after {
      background: $elephant-back;
    }
    &:hover, &:focus {
      background: #FE4B74;
      color: $background;
    }
  }
  &.no-margin-left {
    margin-left: 0;
  }
  &.button-small {
    padding: rem-calc(5px) rem-calc(10px);
    border-width: 2px;
    font-size: 80%;
    @include breakpoint(large up) {
      padding: rem-calc(8px) rem-calc(16px);
      font-size: 95%;
    }
  }
}
