---
layout: default
disable_newsletter: true
disable_footer: true
body_class: error-404
---

    <div class="fullscreen-bg">
        <video muted autoplay poster="/video/506184830.png" class="fullscreen-bg__video">
            <!--<source src="assets/334271807.webm" type="video/webm">-->
            <source src="/video/334271807.mp4" type="video/mp4">
            <!--<source src="assets/334271807.ogv" type="video/ogg">-->
        </video>

        <div class="error-text">
            <div class="hide-for-small-only">

            </div>
            <div class="content-visible">
                <p class="error-code">404 -Not found</p>
                <p>Jest szansa, że nie chciało nam się zrobić strony, której szukasz,</p>
                <p>a może po prostu zabłądziłeś.</p>
                <br>
                <p class="bigger action">
                    Przejdz do <a href="/" class="button elephant-btn button-small ">strony głównej</a>
                    <br class="hide-for-small-up">
                    lub skocz na piwo ;)
                </p>
            </div>
        </div>
    </div>