---
layout: default
---

{% block title %}FAQ - PHPers{% endblock %}
{% block content %}
<section class="alternative">
    <div class="cd-faq">

        <ul class="cd-faq-categories menu-dropdown" data-magellan-expedition="fixed" data-options="active_class:selected;threshold:0;destination_threshold:65;throttle_delay:0;fixed_top:120;offset_by_height:false">
            <li><a class="selected" data-magellan-arrival="participants" href="#participants">Dla uczestników</a></li>
            <li><a data-magellan-arrival="speakers" href="#speakers">Dla (potencjalnych) prelegentów</a></li>
            <li><a data-magellan-arrival="organizers" href="#organizers">Dla organizatorów</a></li>
            <li><a data-magellan-arrival="sponsors" href="#sponsors">Dla sponsorów i firm</a></li>
        </ul>

        <div class="cd-faq-items">
            <ul class="cd-faq-group" data-magellan-destination="participants">
                <li class="cd-faq-title"><h2>Dla uczestników</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Jakie zasady obowiązują na spotkaniach?</a>
                    <div class="cd-faq-content">
                        <ol>
                            <li>Piwo dla każdego.</li>
                            <li>Na spotkaniach robimy zdjęcia, filmujemy wykładowców, wszystko trafia do internetu. Jeśli nie chcesz, aby Twój wizerunek był upubliczniany (dot. uczestników - wykładowcy przykro nam, ale nie macie wyboru), daj znać wcześniej organizatorom, ew. jeśli odnajdziesz się na zdjęciach w Internecie - daj nam znać, że chciałbyś usunięcia zdjęcia/zamazania twarzy.</li>
                            <li>Żartujemy z wielu tematów - jesteśmy dorośli i podchodzimy do życia z dystansem.</li>
                            <li>Osoby niemiłe dla otoczenia będą wypraszane.</li>
                            <li>Wszelkie problemy proszę sygnalizować organizatorom.</li>
                        </ol>
                    </div>
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do I sign up?</a>
                    <div class="cd-faq-content">
                        <h3>Jak długi wykład muszę przygotować?</h3>
                        <p>"Pełne" wykłady to ok. 30-45 minut. Możesz też zaproponować "lightning talk", 5-10-minutowy.</p>

                        <h3>Czy muszę przygotować slajdy?</h3>
                        <p>Warto o tym pomyśleć - nie są obowiązkowe, ale pomagają zarówno prowadzącemu jak i słuchaczom.</p>

                        <h3>Chciał(a)bym, ale się boję...</h3>
                        <p>Jeśli nie czujesz się jeszcze na siłach, spróbuj poprowadzić lightning talk - pozwoli to oswoić się z prowadzeniem prelekcji. Oprócz tego porozmawiaj z bardziej doświadczonymi prelegentami, na pewno bardzo chętnie udzielą światłych rad, przejrzą prezentację, zasugerują co poprawić.</p>

                        <p>Warto też przećwiczyć prezentację "na sucho". Dzięki temu zobaczysz jaka jest efektywna długość wykładu, w których miejscach coś warto dopowiedzieć, jakie zrobić sobie notatki żeby nie pominąć wartościowych informacji, no i pozwoli to na uniknięcie przerw na zebranie myśli w docelowej prezentacji.</p>
                    </div>
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">Can I remove a post?</a>
                    <div class="cd-faq-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                    </div>
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do reviews work?</a>
                    <div class="cd-faq-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                    </div>
                </li>
            </ul>

            <ul class="cd-faq-group" data-magellan-destination="speakers">
                <li class="cd-faq-title"><h2>Dla (potencjalnych) prelegentów</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">How does syncing work?</a>
                    <div class="cd-faq-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. Et repellat quam atque corrupti iusto architecto impedit explicabo repudiandae qui similique aut iure ipsum quis inventore nulla error aliquid alias quia dolorem dolore, odio excepturi veniam odit veritatis. Quo iure magnam, et cum. Laudantium, eaque non? Tempore nihil corporis cumque dolor ipsum accusamus sapiente aliquid quis ea assumenda deserunt praesentium voluptatibus, accusantium a mollitia necessitatibus nostrum voluptatem numquam modi ab, sint rem.</p>
                    </div>
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do I upload files from my phone or tablet?</a>
                    <div class="cd-faq-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tempore, placeat quisquam rerum! Eligendi fugit dolorum tenetur modi fuga nisi rerum, autem officiis quaerat quos. Magni quia, quo quibusdam odio. Error magni aperiam amet architecto adipisci aspernatur! Officia, quaerat magni architecto nostrum magnam fuga nihil, ipsum laboriosam similique voluptatibus facilis nobis? Eius non asperiores, nesciunt suscipit veniam blanditiis veritatis provident possimus iusto voluptas, eveniet architecto quidem quos molestias, aperiam eum reprehenderit dolores ad deserunt eos amet. Vero molestiae commodi unde dolor dicta maxime alias, velit, nesciunt cum dolorem, ipsam soluta sint suscipit maiores mollitia assumenda ducimus aperiam neque enim! Quas culpa dolorum ipsam? Ipsum voluptatibus numquam natus? Eligendi explicabo eos, perferendis voluptatibus hic sed ipsam rerum maiores officia! Beatae, molestias!</p>
                    </div>
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">How do I link to a file or folder?</a>
                    <div class="cd-faq-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#0" class="cd-close-panel">Close</a>
    </div>
</section>
{% endblock content %}