---
layout: default
use:
- posts
---

{% block title %}FAQ - PHPers{% endblock %}
{% block content %}
<section class="alternative">
    <div class="row">
        <h2 class="cd-faq-title">Dla uczestników</h2>
        <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Jakie zasady obowiązują na spotkaniach?</a>
                <div class="accordion-content" data-tab-content>
                    <ol>
                        <li><p>Piwo dla każdego.</p></li>
                        <li><p>Na spotkaniach robimy zdjęcia, filmujemy wykładowców, wszystko trafia do internetu. Jeśli nie chcesz, aby Twój wizerunek był upubliczniany (dot. uczestników - wykładowcy przykro nam, ale nie macie wyboru), daj znać wcześniej organizatorom, ew. jeśli odnajdziesz się na zdjęciach w Internecie - daj nam znać, że chciałbyś usunięcia zdjęcia/zamazania twarzy.</p></li>
                        <li><p>Żartujemy z wielu tematów - jesteśmy dorośli i podchodzimy do życia z dystansem.</p></li>
                        <li><p>Osoby niemiłe dla otoczenia będą wypraszane.</p></li>
                        <li><p>Wszelkie problemy proszę sygnalizować organizatorom.</p></li>
                    </ol>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Czy spotkania są płatne?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Nie, spotkania zawsze są bezpłatne.</p>
                </div>
            </li>
        </ul>

        <h2 class="cd-faq-title">Dla (potencjalnych) prelegentów</h2>
        <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Jak długi wykład muszę przygotować?</a>
                <div class="accordion-content" data-tab-content>
                    <p>"Pełne" wykłady to ok. 30-45 minut. Możesz też zaproponować "lightning talk", 5-10-minutowy.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Czy muszę przygotować slajdy?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Warto o tym pomyśleć - nie są obowiązkowe, ale pomagają zarówno prowadzącemu jak i słuchaczom.</p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Chciał(a)bym, ale się boję...</a>
                <div class="accordion-content" data-tab-content>
                    <p>Jeśli nie czujesz się jeszcze na siłach, spróbuj poprowadzić lightning talk - pozwoli to oswoić się z prowadzeniem prelekcji. Oprócz tego porozmawiaj z bardziej doświadczonymi prelegentami, na pewno bardzo chętnie udzielą światłych rad, przejrzą prezentację, zasugerują co poprawić.</p>
                    <p>Warto też przećwiczyć prezentację "na sucho". Dzięki temu zobaczysz jaka jest efektywna długość wykładu, w których miejscach coś warto dopowiedzieć, jakie zrobić sobie notatki żeby nie pominąć wartościowych informacji, no i pozwoli to na uniknięcie przerw na zebranie myśli w docelowej prezentacji.</p>
                </div>
            </li>
        </ul>

        <h2 class="cd-faq-title">Dla organizatorów</h2>
        <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Chcę zorganizować spotkanie w moim mieście. Mogę?</a>
                <div class="accordion-content" data-tab-content>
                    <p>Zawsze chętnie witamy nowe przedstawicielstwa lokalne. Jeśli chcesz zorganizować spotkania w swoim mieście pod marką "PHPers" - odezwij się do nas.</p>
                    <p>W kwestii organizacji oczekujemy przestrzegania kilku zasad.</p>

                    <ol>
                        <li>
                            <p>Spotkania organizują osoby prywatne, nie firmy - nie chcemy, żeby spotkania służyły do promowania czyjejś firmy.</p>
                        </li>
                        <li>
                            <p>Przede wszystkim merytoryka: wykłady na spotkaniach powinny mieć poziom, którego nikt się nie będzie wstydził.</p>
                        </li>
                        <li>
                            <p>Nie robimy prelekcji "sprzedażowych". Nie robimy demonstracji produktów. W ramach barteru ze sponsorem spotkania uznajemy kilkuminutowe prezentacje między wykładami.</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>

        <h2 class="cd-faq-title">Dla sponsorów i firm</h2>
        <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Chcielibyśmy zareklamować się na spotkaniu - mogę?</a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Jasne. Ale nie za darmo. Od komercyjnych przedsięwzięć oczekujemy czegoś w zamian - na przykład sponsorowania pospotkaniowej integracji. Skontaktuj się z nami, na pewno się dogadamy
                    </p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title cd-faq-trigger">Czego potrzebujecie?</a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Sprzętu audio/video, materiałów propagandowych (kubków, koszulek, naklejek, rollupów), jedzenia i picia na spotkaniach...
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock content %}