---
layout: default
use:
- posts
---

{% block title %}FAQ - PHPers{% endblock %}
{% block content %}
<section class="alternative">
    <div class="cd-faq">

        <ul class="cd-faq-categories menu-dropdown" data-magellan-expedition="fixed" data-options="active_class:selected;threshold:0;destination_threshold:65;throttle_delay:0;fixed_top:120;offset_by_height:false">
            <li><a class="selected" data-magellan-arrival="participants" href="#participants">Dla uczestników</a></li>
            <li><a data-magellan-arrival="speakers" href="#speakers">Dla (potencjalnych) prelegentów</a></li>
            <li><a data-magellan-arrival="organizers" href="#organizers">Dla organizatorów</a></li>
            <li><a data-magellan-arrival="sponsors" href="#sponsors">Dla sponsorów i firm</a></li>
        </ul>

        <div class="cd-faq-items">
            <ul class="cd-faq-group" data-magellan-destination="participants">
                <li class="cd-faq-title"><h2>Dla uczestników</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Jakie zasady obowiązują na spotkaniach?</a>
                    <div class="cd-faq-content">
                        <ol>
                            <li><p>Piwo dla każdego.</p></li>
                            <li><p>Na spotkaniach robimy zdjęcia, filmujemy wykładowców, wszystko trafia do internetu. Jeśli nie chcesz, aby Twój wizerunek był upubliczniany (dot. uczestników - wykładowcy przykro nam, ale nie macie wyboru), daj znać wcześniej organizatorom, ew. jeśli odnajdziesz się na zdjęciach w Internecie - daj nam znać, że chciałbyś usunięcia zdjęcia/zamazania twarzy.</p></li>
                            <li><p>Żartujemy z wielu tematów - jesteśmy dorośli i podchodzimy do życia z dystansem.</p></li>
                            <li><p>Osoby niemiłe dla otoczenia będą wypraszane.</p></li>
                            <li><p>Wszelkie problemy proszę sygnalizować organizatorom.</p></li>
                        </ol>
                    </div>
                </li>

                <li>
                    <a class="cd-faq-trigger" href="#0">Czy spotkania są płatne?</a>
                    <div class="cd-faq-content">
                        <p>Nie, spotkania zawsze są bezpłatne.</p>
                    </div>
                </li>
            </ul>

            <ul class="cd-faq-group" data-magellan-destination="speakers">
                <li class="cd-faq-title"><h2>Dla (potencjalnych) prelegentów</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Jak długi wykład muszę przygotować?</a>
                    <div class="cd-faq-content">
                        <p>"Pełne" wykłady to ok. 30-45 minut. Możesz też zaproponować "lightning talk", 5-10-minutowy.</p>
                    </div>
                </li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Czy muszę przygotować slajdy?</a>
                    <div class="cd-faq-content">
                        <p>Warto o tym pomyśleć - nie są obowiązkowe, ale pomagają zarówno prowadzącemu jak i słuchaczom.</p>
                    </div>
                </li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Chciał(a)bym, ale się boję...</a>
                    <div class="cd-faq-content">
                        <p>Jeśli nie czujesz się jeszcze na siłach, spróbuj poprowadzić lightning talk - pozwoli to oswoić się z prowadzeniem prelekcji. Oprócz tego porozmawiaj z bardziej doświadczonymi prelegentami, na pewno bardzo chętnie udzielą światłych rad, przejrzą prezentację, zasugerują co poprawić.</p>
                        <p>Warto też przećwiczyć prezentację "na sucho". Dzięki temu zobaczysz jaka jest efektywna długość wykładu, w których miejscach coś warto dopowiedzieć, jakie zrobić sobie notatki żeby nie pominąć wartościowych informacji, no i pozwoli to na uniknięcie przerw na zebranie myśli w docelowej prezentacji.</p>
                    </div>
                </li>
            </ul>

            <ul class="cd-faq-group" data-magellan-destination="organizers">
                <li class="cd-faq-title"><h2>Dla organizatorów</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Chcę zorganizować spotkanie w moim mieście. Mogę?</a>
                    <div class="cd-faq-content">
                        <p>Zawsze chętnie witamy nowe przedstawicielstwa lokalne. Jeśli chcesz zorganizować spotkania w swoim mieście pod marką "PHPers" - odezwij się do nas.</p>
                        <p>W kwestii organizacji oczekujemy przestrzegania kilku zasad.</p>

                        <ol>
                            <li>
                                <p>Spotkania organizują osoby prywatne, nie firmy - nie chcemy, żeby spotkania służyły do promowania czyjejś firmy.</p>
                            </li>
                            <li>
                                <p>Przede wszystkim merytoryka: wykłady na spotkaniach powinny mieć poziom, którego nikt się nie będzie wstydził.</p>
                            </li>
                            <li>
                                <p>Nie robimy prelekcji "sprzedażowych". Nie robimy demonstracji produktów. W ramach barteru ze sponsorem spotkania uznajemy kilkuminutowe prezentacje między wykładami.</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>

            <ul class="cd-faq-group" data-magellan-destination="sponsors">
                <li class="cd-faq-title"><h2>Dla sponsorów i firm</h2></li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Chcielibyśmy zareklamować się na spotkaniu - mogę?</a>
                    <div class="cd-faq-content">
                        <p>
                            Jasne. Ale nie za darmo. Od komercyjnych przedsięwzięć oczekujemy czegoś w zamian - na przykład sponsorowania pospotkaniowej integracji. Skontaktuj się z nami, na pewno się dogadamy
                        </p>
                    </div>
                </li>
                <li>
                    <a class="cd-faq-trigger" href="#0">Czego potrzebujecie?</a>
                    <div class="cd-faq-content">
                        <p>
                            Sprzętu audio/video, materiałów propagandowych (kubków, koszulek, naklejek, rollupów), jedzenia i picia na spotkaniach...
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#0" class="cd-close-panel">Close</a>
    </div>
</section>
{% endblock content %}