---
layout: default
---

    <section id="about" class="fullscreen alternative">
        <div class="row">
            <div class="small-12 medium-7 large-6 columns content">
                <h1><strong>Otwarte i darmowe spotkania</strong></h1>
                <h2>dla developerów i architektów<small>(nie tylko)</small>PHP</h2>

                <br>

                <p class="h5">
                    Chcemy zmienić postrzeganie PHP jako języka programowania, bo zasługuje na więcej. Od dawna
                    nie jest
                    to prosty język skryptowy, ale narzędzie, w którym można zaimplementować zaawansowane
                    aplikacje.
                    Przed nami wiele mitów do rozwiania. Dołączysz się?
                </p>
                <p class="h5">
                    Chciemy, by PHPers przede wszystkim uczyło dobrych praktyk wykorzystania PHP, ale nie
                    stronimy także
                    od innych zagadnień, związanych oczywiście z programowaniem.
                </p>
            </div>
            <div class="small-12 medium-5 large-6 columns hide-for-small-only">
                <img src="/images/CUb7XEeVAAA3PK71.png" class="fullscreen-image">
                {#<img src="/images/CUb7XEeVAAA3PK7.jpg" class="fullscreen-image">#}
                {#<img src="/images/11845063_888500181229391_5973022603016603083_o.jpg" class="fullscreen-image">#}

            </div>
        </div>
    </section>

    <section class="text-center ">
        <div class="row text-center features">
            <div class="small-12 medium-4 columns">
                <div class="icon-wrap">
                    <i class="fa fa-book"></i>
                </div>
                <h3>Wiedza</h3>

                <p>
                    Chcemy zmienić postrzeganie PHP jako języka programowania, bo zasługuje na więcej. Od dawna nie jest
                    to prosty język skryptowy, ale narzędzie, w którym można zaimplementować zaawansowane aplikacje.
                    <a href="meetup.html">Przed nami wiele mitów</a> do rozwiania.
                </p>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="icon-wrap">
                    <i class="fa fa-cogs"></i>
                </div>
                <h3>Narzędzia</h3>

                <p>
                    Programujesz w <b>Symfony</b>, a może przekonałeś się do <b>Laravela</b>. Twierdzisz, że <b>Zend
                    Framework</b> nie ma sobie równych. A może wiesz coś więcej na temat <b>Yii</b> czy
                    <b>CodeIgniter</b>. Nie wahach się ani chwili dłużej. <a href="#" data-reveal-id="wantBeSpeaker">Przyjdz
                    i podziel się</a> z nami swoją wiedzą.
                </p>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="icon-wrap">
                    <i class="fa fa-code"></i>
                </div>
                <h3>Techniki</h3>

                <p>
                    - Continous Integration
                    - Continous Deployment
                    - Application Development
                    - Architecture Design
                    - Design Patterns
                    - Test Driven Development
                    - Skalowalność
                    - Cloud Computing
                    - Performance tuning
                    - PSR

                    Jeśli nie wiesz co to oznacza, to oznacza to jedno. <strong>Musisz</strong> pojawić się na naszym
                    <a href="event.html">najbliższym spotkaniu</a>. Dowiesz się jak wykorzystywać powyższe techniki w
                    Twoich aplikacjach.
                </p>
            </div>
        </div>
    </section>
    <section id="organizers" data-scroll-target="organizatorzy" class="alternative">

        <div class="row">
            <div class="small-12 medium-7 large-8 columns">
                <h4 class="headline">Organizatorzy</h4>
                <h5 class="subhead">
                    Za przygotowanie PHPers odpowiada kilka osób, choć jeśli chcesz, możesz nas wspomóc swoją wiedzą i
                    możliwościami.
                    <br>
                    Czekamy także na każdy feedback dotyczący spotkań, zarówno ten pozytywny jak i
                    negatywny.
                </h5>
                <br>
            </div>
        </div>

        <div class="row staff" data-equalizer="staff">
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="">
                    <img src="/images/staff/karol_sojko.jpg" alt="Karol Sójko - Programista PHP Gdańsk">
                    <figcaption>
                        <h4>Karol <span>Sójko</span></h4>
                        <h5>PHP Developer & Team Lead</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista, architekt i team leader. Na co dzień gorący orędownik BDD i pasjonat
                        usprawniania pracy w zespołach.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/leszek_krupinski.jpg" alt="Leszek Krupiński - Programista PHP od roku 2000">
                    <figcaption>
                        <h4>Leszek <span>Krupiński</span></h4>
                        <h5>PHP Developer</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista PHP od roku 2000, autor kursu PHP i kilku artykułów na tematy związane z PHP.
                        Organizator i prelegent konferencji WebClusters (pierwsza polska konferencja na temat web
                        scalability). Uczestnik kilku projektów open-source. Architekt rozwiązań wysokowydajnych,
                        analityk bezpieczeństwa aplikacji sieciowych, konsultant.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/mariusz_gil.jpeg" alt="Mariusz Gil - Architekt, tech-lead i developer">
                    <figcaption>
                        <h4>Mariusz <span>Gil</span></h4>
                        <h5>Architekt, tech-lead</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Architekt, tech-lead i developer z wieloletnim doświadczeniem w projektowaniu i
                        implementacji skalowalnych i wydajnych aplikacji webowych, także z wykorzystaniem PHP.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/michal_pipa.jpg" alt="Michał Pipa - Programista PHP od zawsze">
                    <figcaption>
                        <h4>Michał <span>Pipa</span></h4>
                        <h5>Programista PHP</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista PHP od zawsze. Współinicjator spotkań PHPowych na Śląsku. Prelegent na wielu
                        meetupach i konferencjach krajowych i zagranicznych. Skarbnica wiedzy na temat PHP i
                        Symfony, które zna od podszewki i z ich zakresu prowadzi szkolenia. Zawsze skory do pomocy i
                        służenia radą potrzbującym tego kolegom po fachu. Dba o kwestie merytoryczne na śląskich
                        spotkaniach.
                    </p>
                </figure>
            </div>
        </div>

        <div class="row staff" data-equalizer="staff">
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="">
                    <img src="/images/staff/karol_sojko.jpg" alt="img17">
                    <figcaption>
                        <h4>Karol <span>Sójko</span></h4>
                        <h5>PHP Developer & Team Lead</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista, architekt i team leader. Na co dzień gorący orędownik BDD i pasjonat
                        usprawniania pracy w zespołach.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/leszek_krupinski.jpg" alt="Leszek Krupiński - Programista PHP od roku 2000">
                    <figcaption>
                        <h4>Leszek <span>Krupiński</span></h4>
                        <h5>PHP Developer</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista PHP od roku 2000, autor kursu PHP i kilku artykułów na tematy związane z PHP.
                        Organizator i prelegent konferencji WebClusters (pierwsza polska konferencja na temat web
                        scalability). Uczestnik kilku projektów open-source. Architekt rozwiązań wysokowydajnych,
                        analityk bezpieczeństwa aplikacji sieciowych, konsultant.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/mariusz_gil.jpeg" alt="Mariusz Gil - Architekt, tech-lead i developer">
                    <figcaption>
                        <h4>Mariusz <span>Gil</span></h4>
                        <h5>Architekt, tech-lead</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Architekt, tech-lead i developer z wieloletnim doświadczeniem w projektowaniu i
                        implementacji skalowalnych i wydajnych aplikacji webowych, także z wykorzystaniem PHP.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/michal_pipa.jpg" alt="Michał Pipa - Programista PHP od zawsze">
                    <figcaption>
                        <h4>Michał <span>Pipa</span></h4>
                        <h5>Programista PHP</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista PHP od zawsze. Współinicjator spotkań PHPowych na Śląsku. Prelegent na wielu
                        meetupach i konferencjach krajowych i zagranicznych. Skarbnica wiedzy na temat PHP i
                        Symfony, które zna od podszewki i z ich zakresu prowadzi szkolenia. Zawsze skory do pomocy i
                        służenia radą potrzbującym tego kolegom po fachu. Dba o kwestie merytoryczne na śląskich
                        spotkaniach.
                    </p>
                </figure>
            </div>
        </div>

        <div class="row staff" data-equalizer="staff">
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="">
                    <img src="/images/staff/karol_sojko.jpg" alt="img17">
                    <figcaption>
                        <h4>Karol <span>Sójko</span></h4>
                        <h5>PHP Developer & Team Lead</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista, architekt i team leader. Na co dzień gorący orędownik BDD i pasjonat
                        usprawniania pracy w zespołach.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/leszek_krupinski.jpg" alt="Leszek Krupiński - Programista PHP od roku 2000">
                    <figcaption>
                        <h4>Leszek <span>Krupiński</span></h4>
                        <h5>PHP Developer</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Programista PHP od roku 2000, autor kursu PHP i kilku artykułów na tematy związane z PHP.
                        Organizator i prelegent konferencji WebClusters (pierwsza polska konferencja na temat web
                        scalability). Uczestnik kilku projektów open-source. Architekt rozwiązań wysokowydajnych,
                        analityk bezpieczeństwa aplikacji sieciowych, konsultant.
                    </p>
                </figure>
            </div>
            <div class="small-12 medium-3 columns end" data-equalizer-watch="staff">
                <figure class="dark">
                    <img src="/images/staff/mariusz_gil.jpeg" alt="Mariusz Gil - Architekt, tech-lead i developer">
                    <figcaption>
                        <h4>Mariusz <span>Gil</span></h4>
                        <h5>Architekt, tech-lead</h5>

                        <p class="links">
                            <a href="#"><i class="fa fa-fw fa-home"></i></a>
                            <a href="#"><i class="fa fa-fw fa-download"></i></a>
                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                            <a href="#"><i class="fa fa-fw fa-share"></i></a>
                        </p>
                    </figcaption>
                    <p class="description">
                        Architekt, tech-lead i developer z wieloletnim doświadczeniem w projektowaniu i
                        implementacji skalowalnych i wydajnych aplikacji webowych, także z wykorzystaniem PHP.
                    </p>
                </figure>
            </div>
        </div>

    </section>
