---
generator: pagination
pagination:
   max_per_page: 10
layout: front-page
use:
   - posts
---
<!-- Entry -->
<section class="showcase-entry light">
    <div class="container clearfix">
        <div class="description one-third column">
            <h1>Najbliższe spotkania</h1>
            {% set showedMeetingQuantity = 0 %}
            {% for post in page.pagination.items | reverse %}
               {% if date(post.date) >= date('today') and showedMeetingQuantity < 3 %}
                  {% set showedMeetingQuantity = showedMeetingQuantity + 1 %}
                    <div class="list-one four columns next-meetup">
                      <div class="next-meetup-head"><a href="{{ post.url }}">{{ post.title }}</a></div>
                      <div class="next-meetup-date">{{ post.date | date('Y-m-d') }}, godz. {{ post.time }}</div>
                      <div>{{ post.venue.description|raw }}</div>
                      <div class="next-meetup-more"><a href="{{ post.url }}">Więcej...</a></div>
                    </div>
               {% endif %}
            {% endfor %}
        </div>
        <div class="screen two-thirds column">
            <div id="map"></div>
        </div>
    </div>
    <!-- END CONTAINER -->
</section>
<!-- End Entry -->

<div id="buckets" class="container clearfix">
    <div class="list-one five columns">
        <h1>Co to PHPers?</h1>
        <p>
          PHPers to otwarte, darmowe spotkania dla programistów PHP (ale zapraszamy
          oczywiście wszystkich), chcących poszerzyć swoje horozonty. Na spotkaniach
          prezentujemy wykłady o PHP, ale też i o całym ekosystemie, jaki otacza
          aplikacje pisane w tym języku.
        </p>
        <a class="button" href="/idea-spotkan/">Więcej</a>
    </div>
    <div class="list-one five columns">
        <h1>Kiedy odbywają się spotkania?</h1>
        <p>
          Organizatorzy każdego z lokalnych spotkań indywidualnie ustalają harmonogram,
          ale staramy się organizować je nie rzadziej niż co dwa miesiące. Realia
          oczywiście weryfikują nasze założenia.
        </p>
    </div>
    <div class="list-one five columns">
        <h1>Chcę pomóc!</h1>
        <p>
          Masz pomysł na prelekcję? Zgłoś ją przez <a href="/zglos-swoja-prezentacje/">formularz</a>. Chcesz
          zorganizować spotkanie lub być sponsorem naszej działalności? Przeczytaj
          <a href="/faq/">FAQ</a>.
        </p>
    </div>
</div>
