---
generator: pagination
pagination:
   max_per_page: 10
layout: default
use:
   - posts
---
<!-- Entry -->
<section class="showcase-entry light">
    <div class="container clearfix">
        <div class="description one-third column">
            <h1>Rośniemy!!!</h1>

            <h2>I na tym nie poprzestaniemy...</h2>

            <p>
                Podczas tegorocznej edycji PHPcon zapowiedzieliśmy połączenie kilku
                lokalnych inicjatyw. Wspólnie chcemy dalej promować PHP w Polsce,
                PHP3City, SPUG oraz PHPers łączą się więc w jedną grupę...
                Razem chcemy osiągnąć więcej.
            </p>
        </div>
        <div class="screen two-thirds column">
            <img src="/img/main/map.png"/>
        </div>
    </div>
    <!-- END CONTAINER -->
</section>
<!-- End Entry -->


<!-- Services -->
<section id="services">
    <div class="container clearfix">
        <div class="list-one four columns">
            <h1>Najbliższe spotkania:</h1>
        </div>

{% set showedMeetingQuantity = 0 %}
{% for post in page.pagination.items | reverse %}
   {% if date(post.date) >= date('today') and showedMeetingQuantity < 3 %}
      {% set showedMeetingQuantity = showedMeetingQuantity + 1 %}
        <div class="list-one four columns">
            <h1>{{ post.title }}</h1>
            <h2>{{ post.date | date('Y-m-d') }}, godz. {{ post.time }}</h2>
            <p>
                {{ post.venue.description|raw }}
            </p>

            <p>
                <a class="button" href="{{ post.url }}">Zobacz agendę</a>
            </p>
        </div>
   {% endif %}
{% endfor %}

    </div>
    <!-- END CONTAINER -->
</section>
<!-- End Services -->
